<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nama</ion-label>
    <ion-input type="text" placeholder="Nama"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tanggal Lahir</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kewarganegaraan</ion-label>
    <ion-select value="wni" placeholder="Select One">
      <ion-select-option value="wni">WNI</ion-select-option>
      <ion-select-option value="wna">WNA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Warga Negara</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="indonesia">Indonesia</ion-select-option>
      <ion-select-option value="singapore">Singapore</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tipe Identitas</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="ktp">KTP</ion-select-option>
      <ion-select-option value="paspor">Paspor</ion-select-option>
      <ion-select-option value="skl">Surat Keterangan Lahir</ion-select-option>
      <ion-select-option value="suratpermohonan">Surat Permohonan e-KTP</ion-select-option>
      <ion-select-option value="kartukeluarga">Kartu Keluarga</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nomor Identitas</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kota Kelahiran</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Negara Kelahiran</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Jenis Kelamin</ion-label>
    <ion-select value="l" placeholder="Select One">
      <ion-select-option value="l">Laki-laki</ion-select-option>
      <ion-select-option value="p">Perempuan</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nama Perusahaan</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-content>
